/* Styles for the speaker-badge page */

.badge .busy {
    display: none;    
}

.badge progress {
    width: 50.2rem;
    height: 2rem;    
}

@media print {
    .badge h1 {
        display: none;
    }
}
