/* Styles for the feedback page */

#feedback-sent {
    display: none; /* Will be displayed using JavaScript, see feedback.js */
}

.feedback form {
    max-width: 60rem;    
}

.feedback .comments {
    margin: 1rem 0;
}

.feedback label {
    display: block;
}

.feedback textarea {
    display: block;
    padding: .5rem;
    width: 100%;
    box-sizing: border-box;
}

.feedback button {
    padding: .5rem;
}

.feedback-question {
    display: -ms-flexbox;
    display: flexbox;
    -ms-flex-align: center;
    flex-align: center;
    -ms-flex-pack: justify;
    flex-pack: justify;
    -ms-flex: 1;
    flex: 1;
    padding: .5rem 0;
}

.feedback-question:nth-child(even) {
    background-color: #f5f4ff;
}

.feedback-question label {
    display: block;
    padding-right: 1rem;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.star {
    background-image: url(../images/stars.png);
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: .1rem;
    -ms-flex: 0 0 15px;
    flex: 0 0 15px;
    
    /* TODO: Transition the transform property over 0.5 seconds */
    transition: transform .5s;
}

.star:hover,
.star.hover {
    background-position: 0 -15px;
    
    /* TODO: Scale transform by 1.3 */
    transform: scale(1.3, 1.3);
    
    /* TODO: Transition the transform property over 0.5 seconds */
    transition: transform .5s;
}

.star.selected {
    background-position: 0 -30px;
    
    /* TODO: Scale transform by 1.3 */
    transform: scale(1.3, 1.3);
}

/* TODO: Add key frame animation named "send"
         At 0% scale(1)
         At 50% scale(.8)
         At 100% translate(0, -1000px)
*/
@keyframes send {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.8);
    }
    100% {
        transform: translate(0, -1000px);
    }
}

.sending {
    background-color: #EAEEFA;
    border: 1px solid #888;
    box-shadow: 0px 3px 3px rgba(0,0,0,.8);

    /* TODO: Use the "send" animation
                iteration-count: 1
                fill-mode: forwards
    */
    animation-name: send;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
