/* Styles for the page header */

header.page-header {
    height: 20rem;
    background-repeat: repeat-x;
    background-position: left bottom;
    border-bottom: 4px solid #1d1d1d;
}

header.page-header .container {
    padding: 1rem;
    position: relative;
}

header.page-header h1 {
    margin: 0;
    font-size: 6rem;
    padding-top: 3rem;
}

header.page-header p {
    font-size: 2rem;
    font-style: italic;
}


header.page-header .register {
    display: block;
    position: absolute;
    top: 20px;
    right: 35px;
    width: 160px;
    height: 100px;
    padding-top: 60px;
    opacity: 0.8;
    font-size: 2.7rem;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
     
    /* Rounded corners to create circle */
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;

    -webkit-text-shadow: 0 1px 0 #000;
    text-shadow: 0 1px 0 #000;

    /* Text transform rotation Effects */
    -ms-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);

    /* Background Gradient Effects */
    background: -ms-linear-gradient(top, #a80000 0%,#740404 100%);
    background: -webkit-linear-gradient(top, #a80000 0%,#740404 100%);
    background: linear-gradient(top, #a80000 0%,#740404 100%);

    -ms-transition: -ms-transform 1s;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
}

header.page-header .register:hover {
    color: #fff;

    /* Background Gradient Effects */
    background: -ms-linear-gradient(top, #bc0101 0%,#8c0909 100%);
    background: -webkit-linear-gradient(top, #bc0101 0%,#8c0909 100%);
    background: linear-gradient(top, #bc0101 0%,#8c0909 100%);

    -ms-transform: rotate(16deg) scale(1.1,1.1);
    -webkit-transform: rotate(16deg) scale(1.1,1.1);
    transform: rotate(16deg) scale(1.1,1.1);

    -ms-transition: -ms-transform 1s;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
}

header.page-header .register:before /* Creates dotted border */ {
    display: block;
    position: absolute;
    top: -7px;
    right: -7px;
    height: 168px;
    width: 168px;
    content: "";
    border: 3px dotted #740404;
    
    /* Rounded corners to create circle */
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

header.page-header .register .free {
    font-size: 80%;
}
