
/* Styles for the page navigation bar */

nav.page-nav {
    background-color: #1d1d1d;
    line-height: 6rem;
    font-size: 1.7rem;
}

nav.page-nav .container {
    display: -ms-flexbox;
    display: flexbox;
}

nav.page-nav a {
    display: block;
    min-width: 9rem;
    padding: 0 1.8rem;
    border-right: 1px dotted #3D3D3D;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #c3c3c3;

    -webkit-text-shadow: 0 1px 0 #000;
    text-shadow: 0 1px 0 #000;
}

nav.page-nav a:first-child {
    border-left: 1px dotted #3D3D3D;
}

nav.page-nav a:hover {
    color: #e4e4e4;
    background-color: black;
}

nav.page-nav .active {
    color: #fff;

    /* Background gradient effects */
    background: -ms-linear-gradient(#C95656, #8d0606);
    background: linear-gradient(#C95656, #8d0606);
}

nav.page-nav .active:hover {
    color: #fff; /* Overrides hover effect for active page link */
}

nav.page-nav .active:before /* Creates ribbon effect on active link */ {
    position: absolute;
    top: 6rem;
    display: block;
    height: 0;
    width: 0;
    margin-left: -1.9rem;
    border-top: 2rem solid #8d0606;
    border-right: 6.5rem solid transparent;
    content: "";
}

nav.page-nav .active:after /* Creates ribbon effect on active link */ {
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    margin-left: 4.3rem;
    border-top: 2rem solid #8d0606;
    border-left: 6.5rem solid transparent;
    content: "";
}
