/* Styles for the page navigation bar */

/* TODO: nav.page-nav */
nav.page-nav {
    background-color: #1d1d1d;
    line-height: 6rem;
    font-size: 1.7rem;
}

/* TODO: nav.page-nav .container */
nav.page-nav .container {
    display: -ms-flexbox;
    display: flexbox;
}


/* TODO: nav.page-nav a */
nav.page-nav a {
    display: block;
    min-width: 9rem;
    padding: 0 1.8rem;
    border-right: 1px dotted #3d3d3d;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #c3c3c3;
    text-shadow: 0 1px 0 #000;
}

/* TODO: nav.page-nav a:first-child */
nav.page-nav a:first-child {
    border-left: 1px dotted #3d3d3d;
}

/* TODO: nav.page-nav a:hover */
nav.page-nav a:hover {
    color: #e4e4e4;
    background-color: black;
}

/* TODO: nav.page-nav .active */
nav.page-nav .active {
    color: #fff;
    background: -ms-linear-gradient(#c95656, #8d0606);
    background: linear-gradient(#c95656, #8d0606);
}

/* TODO: nav.page-nav .active:hover */
nav.page-nav .active:hover {
    /* Override hover effect for active page link */
    color: #fff;
}

/* TODO: nav.page-nav .active:before */
nav.page-nav .active:before {
    /* Create ribbon effect on active link */
    position: absolute;
    top: 6rem;
    display: block;
    height: 0;
    width: 0;
    margin-left: -1.9rem;
    border-top: 2rem solid #8d0606;
    border-right: 6.5rem solid transparent;
    content: "";
}

/* TODO: nav.page-nav .active:after */
nav.page-nav .active:after {
    /* Create ribbon effect on active link */
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    margin-left: 4.3rem;
    border-top: 2rem solid #8d0606;
    border-left: 6.5rem solid transparent;
    content: "";
}
